{
  "extends": [
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "babel",
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ]
  }
}
